@font-face {
  font-family: 'Amiri';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=J7aRnpd8CGxBHqUsprTiUg&skey=159039cc026b7e65&v=v30) format('woff2');
}
@font-face {
  font-family: 'Fustat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=NaPEcZ_aHO9Iy5thRNqze7YGY9HGCEQQRrmrs7iC&skey=96a9860abb8b9a84&v=v4) format('woff2');
}
@font-face {
  font-family: 'Harmattan';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=goksH6L2DkFvVvRp9XpTTlilQkA&skey=455aa37d69b7e881&v=v24) format('woff2');
}
@font-face {
  font-family: 'IBM Plex Sans Arabic';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=Qw3CZRtWPQCuHme67tEYUIx3Kh0PHR9N6bs_zvJJwA&skey=34f4883bf9accba4&v=v14) format('woff2');
}
@font-face {
  font-family: 'Jomhuria';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=Dxxp8j-TMXf-llKur2bwKOdJtg&skey=e8318179d6e93cfb&v=v22) format('woff2');
}
@font-face {
  font-family: 'Kufam';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=C8c-4cY7pG7w_oSJDszBXsKCcBH3lqk7rBiPzE8&skey=6ed5ded0226ac4ec&v=v26) format('woff2');
}
@font-face {
  font-family: 'Lateef';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=hESw6XVnNCxEvkbMow-CtDI&skey=c6edfa7a4a5da33&v=v35) format('woff2');
}
@font-face {
  font-family: 'Mada';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=7Aulp_0qnzeSVz7u3PJLcUMYOFnOkHk1w-9veg&skey=5d0f924e6baf8e8f&v=v21) format('woff2');
}
@font-face {
  font-family: 'Mirza';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=co3ImWlikiN5EurYMMFiDw&skey=c087d899b55de9f0&v=v19) format('woff2');
}
@font-face {
  font-family: 'Noto Kufi Arabic';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=CSRp4ydQnPyaDxEXLFF6LZVLKrodhu8t57o1kDc5Wh5v34bKhLJ0wg&skey=d0987fe4c0520ae0&v=v27) format('woff2');
}
@font-face {
  font-family: 'Noto Naskh Arabic';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=RrQ5bpV-9Dd1b1OAGA6M9PkyDuVBePeKNaxcsss0Y7bwvc5kqbU1JU4&skey=bacb52bf696c6ae6&v=v44) format('woff2');
}
@font-face {
  font-family: 'Noto Nastaliq Urdu';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=LhWNMUPbN-oZdNFcBy1-DJYsEoTq5pudQ9L940pGPkB3Qt_-DKiH3T1B&skey=25e2fc271bc7cedc&v=v23) format('woff2');
}
@font-face {
  font-family: 'Noto Sans Arabic';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=nwpxtLGrOAZMl5nJ_wfgRg3DrWFZWsnVBJ_sS6tlqHHFlhQ5l3sQWIHPqzCfyGyvvmiHx78&skey=f979c51db865377e&v=v33) format('woff2');
}
@font-face {
  font-family: 'Reem Kufi';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=2sDPZGJLip7W2J7v7wQZZE1I0yCmYzzQtuZnEGSH2HMT&skey=b342e03de63f62b0&v=v28) format('woff2');
}
@font-face {
  font-family: 'Scheherazade New';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=4UaZrFhTvxVnHDvUkUiHg8jprP4DCwZ0PIyU&skey=dedc87abea7dfb07&v=v20) format('woff2');
}
@font-face {
  font-family: 'Vazirmatn';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=Dxx78j6PP2D_kU2muijPEe1n2vVbfJRklWgzORKB6bJ4&skey=34e4817af6f837c1&v=v16) format('woff2');
}
