@font-face {
  font-family: 'Cactus Classical Serif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=sZlVdQ6K-zJOCzUaS90zMNN-Ep-OoC8dZr0JFuVQEpM2Hg&skey=b92390a1f7acfd02&v=v14) format('woff2');
}
@font-face {
  font-family: 'Chocolate Classical Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=nuFqD-PLTZX4XIgT-P2ToCDudWHHflqUpTpfjWdDOZWOGv5p&skey=c1891f6b4cada226&v=v15) format('woff2');
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=k3kCo84MPvpLmixcA63oeAL7Iqp5IZJF9bmaG9_FnYlVaxBNRQ&skey=cf0bb10b5602fdc3&v=v40) format('woff2');
}
@font-face {
  font-family: 'Noto Serif SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=H4cyBXePl9DZ0Xe7gG9cyOj7uK2-n-D2rd4FY7SCqyWq64kN65Q&skey=37fe335b8fd815cc&v=v35) format('woff2');
}
